<!-- <button
title="Menu"
tuiIconButton
tuiNavigationDrawer
type="button"
[(open)]="open"
>
<tui-data-list>
    <tui-opt-group
        *ngFor="let group of drawer | keyvalue"
        [label]="group.key"
    >
        <button
            *ngFor="let item of group.value"
            tuiOption
            type="button"
            (click)="open = false"
        >
            <tui-icon
                alt="icon"
              [icon]="item.icon"
            />
            {{ item.label }}
        </button>
    </tui-opt-group>

</tui-data-list>

</button> -->
<div [style.display]="'flex'">
  <aside
      [style.height.rem]="27"
      [tuiNavigationAside]="expanded"
  >
      <header>
          <button
              iconStart="@tui.home"
              tuiAsideItem
              type="button"
          >
              <span tuiFade>A very very long product name</span>
          </button>
      </header>

      <tui-aside-group
      *ngFor="let item of drawer"
      >
          <button
                          iconStart="@tui.{{item.icon}}"
              tuiAsideItem
              tuiChevron
              type="button"


          >
          {{item.label}}
              <ng-template>
                  <a
                      tuiAsideItem

                      [routerLink]="item.path"
                  >

                        All {{item.label}}s

                    </a>
                  <a
                      tuiAsideItem
                      type="button"
                      routerLink="{{item.path}}/create"
                  >

                    Create {{item.label}}

                  </a>

              </ng-template>
          </button>
      </tui-aside-group>





  </aside>
</div>
